{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Projects</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
</head>
<style>
    .navbar{
        color: aliceblue !;
    }
</style>
<body>
    <nav class="navbar container">
        <ul>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li>
                <a href="{% url 'menuPrincipal' %}">Menu principal</a>
            </li>   
            {% else %}
            <li class="nav-item">
                <a href="{% url 'signin' %}" class="nav-link"> Iniciar sesion</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Registrarse</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Recuperar Contraseña</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>