body {
    background: #4566d3e5;
    color: whitesmoke;
}

.btn{
    background-color: #2a58b9;
    padding: 25px;
    border: 0cap;
    
}
.btn{
    background-color: #9faeda;
    padding: 20px;
    border: 3cap;
    display: center;
    
}