body {
  background-color: #4566d3e5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
 }
.botonVolv{
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  background-color: #2d4a81;
  padding: 10px 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.contenedor {
  overflow: auto;
  max-width: fit-content;
  min-width: 300px;
  background-color: #fff1ff;
  padding-left: 25px;
  padding-right: 25px;
  margin: 25px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para la barra de desplazamiento */
.contenedor::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 12px; /* Alto de la barra de desplazamiento horizontal */
}

.contenedor::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista de desplazamiento */
  border-radius: 8px; /* Bordes redondeados para la pista */
}

.contenedor::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra de desplazamiento */
  border-radius: 8px; /* Bordes redondeados para la barra */
  border: 3px solid #f1f1f1; /* Espacio entre la barra y la pista */
}

.contenedor::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra al pasar el ratón */
}

.articulo {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.articulo:last-child {
  margin-bottom: 0;
}

.panel-container {
display: flex;
margin-top: 20px;
justify-content: space-between;
width: 100%;
}

.panel {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 11px 4px 8px 8px rgb(0 0 0 / 23%);
  border: 2px solid #2d4a81;
  text-align: center;
  flex-grow: 0; /* Evita que los paneles crezcan */
  width: calc((100% - 40px) / 3); /* Calcula el ancho para que los 3 paneles ocupen el ancho disponible, dejando un espacio de 20px entre ellos */
  margin: 0 10px; /* Ajusta el margen horizontal para dar espacio entre los paneles */
  max-height: 750px;
  overflow: auto;
}
.panel-objects-postuled {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #2d4a81;
  text-align: center;
  margin-bottom: 15px;
  flex-grow: 0; /* Evita que los paneles crezcan */
  margin-top: 15px; /* Ajusta el margen horizontal para dar espacio entre los paneles */
}
/* Estilos para la barra de desplazamiento */
h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para el texto */
  position: relative;
  display: inline-block;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 110, 0.581); /* Cambia el color del subrayado (rojo con 50% de opacidad) */
  position: absolute;
  bottom: -5px; /* Ajusta la distancia desde el texto */
  left: 0;
}
.product-container {
    display: grid;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 6px 8px 14px 7px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-details {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
.product-atributos-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  overflow: hidden; /* Oculta cualquier contenido que pueda extenderse más allá de los límites del contenedor */
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra fina por arriba */
  justify-content: center;
  align-items: center; /* Centra los elementos verticalmente */
  font-size: 13px; /* Tamaño de fuente */
  color: #666; /* Color de texto */
  border-top: 2px solid #ccc; /* Línea superior */
  border-radius: 10px;
  padding: 10px 0; /* Relleno */
}

.product-image {
  width: 100px; /* Ajusta el ancho del contenedor según tus necesidades */
  margin: 0 auto; /* Para centrar horizontalmente el contenido del contenedor */
  overflow: hidden; /* Para ocultar cualquier contenido que pueda extenderse más allá de los límites de la imagen */
}

.trueque-foto {
  margin-bottom: 15px;
  width: auto; /* Ajusta el ancho de la imagen automáticamente según el tamaño del contenedor */
  max-width: 100%; /* Establece el ancho máximo de la imagen para que no exceda el ancho del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen automáticamente */
  display: block; /* Elimina el espacio en línea debajo de la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra gris debajo de la imagen */
  border-radius: 5px; /* Opcional: si deseas bordes redondeados para la imagen */
}

/* Estilos para los elementos de producto */
.product-attribute {
  display: flex;
  margin-bottom: 10px;
}

.attribute-label {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center; /* Centra horizontalmente */
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  color: #333;
}

.attribute-value {
  padding-bottom: 25px;
  justify-content: center; /* Centra horizontalmente */
  color: #666;
}

.product-container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  /* Estilos para los elementos de producto */
  .product-attribute {
    display: block;
    margin-bottom: 10px;
  }

  .attribute-label {
    font-weight: bold;
    color: #333;
  }

  .attribute-value {
    color: #666;
  }

  /* Estilo base del botón para proponer intercambio */
.btn-trueque {
  background-color: #007bff; /* Azul */
  color: red;
  color: #ffffff; /* Letras blancas */
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo del botón al pasar el cursor sobre él */
.btn-trueque:hover {
  background-color: #0056b3; /* Azul más oscuro */
}
.btn {
  padding: 10px 10px; /* Tamaño más pequeño */
  display: inline-flexbox;
  align-items: stretch;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  margin: 5px;
  cursor: pointer;
  border-radius: 8px; /* Bordes redondeados */
  border: none;
  color: white;
}

.btn-aceptar {
  background-color: #4CAF50; /* Verde */
}

.btn-rechazar {
  background-color: #f44336; /* Rojo */
}
.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: -10px;
  max-width: fit-content;
  min-width: fit-content;
}
/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}