{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/historial_intercambios.css' %}">
  <title>Historial de intercambios</title>
  <h1> Soy el historial de intercambios</h1>
</head>
<body>
<a href="{% url 'Menu_De_Intercambios' %}" style="position: absolute; top: 20px; left: 20px;">
  <button class="botonVolv">volver</button>
</a>
{% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert" id="success-message">
                    {{ message }}
                </div>
                <script>
                    // Oculta el mensaje después de 5 segundos
                    setTimeout(function(){
                        document.getElementById('success-message').style.display = 'none';
                    }, 5000); // 5000 milisegundos = 5 segundos
                </script>
            {% endfor %}
        {% endif %}
<div class="panel-container">
    {% if trueques %}
    <div class="panel">
    <h2>Trueques disponibles</h2>
        {% for trueque in trueques %}
            <div class="product-container">
              <div class="product-image">
                <img src="{{ trueque.foto.url }}" class="trueque-foto" alt="Descripción de la imagen">
              </div>
              <div class="product-details">
                    <span>{{ trueque.nombre }}</span>
                    <span>{{ trueque.marca }}</span>
              </div>
              <div class="product-atributos-container">
                <span class="attribute-label">Categoria:</span>
                <span class="attribute-value" style="color: brown;">{{ trueque.categoria }}</span><br>
                <span class="attribute-label">Modelo:</span>
                <span class="attribute-value">{{ trueque.modelo }}</span><br>
                <span class="attribute-label">Descripcion:</span>
                <span class="attribute-value">{{ trueque.descripcion }}</span><br>
                <div>
                    {% csrf_token %}
                    <!-- Aquí puedes añadir los campos del formulario para el intercambio -->
                    <button type="button" class="btn-trueque" id="openModalBtn">Proponer Intercambio</button>
                    <dialog id="modal" class="modal">
                      <div class="modal-content">
                        <h1>Postular Objeto Para Intercambio</h1>
                          <form id="crear-form" action="{% url 'create_trade' trueque.id %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button class="buttonSpecial" type="submit">Guardar cambios</button>
                              <button class="buttonSpecial" type="button" id="closeModalBtn">Cancelar</button>
                          </form>
                      </div>
                    </dialog>
               </div>  
              </div>
            </div>
        {% endfor %}
    
    {% else %}
      <h3>No hay trueques disponibles publicados</h3>
    {% endif %}
    </div>

    <div class="panel">
    <h2>Trueques realizados</h2>
    <div class="product-container">
        <span class="product-attribute">
          <span>Nombre:</span>
          <span class="attribute-value">{{ producto.nombre }}</span>
        </span>
        <span class="product-attribute">
          <span class="attribute-label">Precio:</span>
          <span class="attribute-value">${{ producto.precio }}</span>
        </span>
        <span class="product-attribute">
          <span class="attribute-label">Descripción:</span><br>
          <span class="attribute-value">{{ producto.descripcion }}</span>
        </span>

      </div>
    </div>

    <div class="panel">
    <h2>Trueques Cancelados/Eliminados</h2>
    <p>Contenido del tercer panel.</p>
    </div>
</div>


<!--
  <dialog id="modal" class="modal">
  <div class="modal-content">
    <h1>Postular Objeto Para Intercambio</h1>
      <form id="crear-form" method="post" action="{% url 'Historial_De_Intercambios' %}"  enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="buttonSpecial" type="submit">Guardar cambios</button>
          <button class="buttonSpecial" type="button" id="closeModalBtn">Cancelar</button>
      </form>
  </div>
</dialog>
-->
<script>

  document.addEventListener("DOMContentLoaded", function() {
    const openModalBtn = document.getElementById('openModalBtn');
    const closeModalBtn = document.getElementById('closeModalBtn');
    const modal = document.getElementById('modal');

    openModalBtn.addEventListener('click', function() {
        modal.style.display = "block";
    });

    closeModalBtn.addEventListener('click', function() {
        modal.style.display = "none";
    });
});
</script>


</body>
</html>
