{% extends "layouts/base.html" %}

{% block content %}
<h1>Historial de Intercambios Aceptados</h1>

{% if intercambios_aceptados %}
    <table class="trueque-table">
        <thead>
            <tr>
                <th>Nombre usuario</th>
                <th>Item</th>
                <th>Categoria</th>
                <th>Estado</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            {% for intercambio in intercambios_aceptados %}
            <tr>
                <td>{{ intercambio.usuario.user.username }}</td>
                <td>{{ intercambio.nombre }}</td>
                <td>{{ intercambio.categoria }}</td>
                <td>{{ intercambio.estado }}</td>
                <td>{{ intercambio.marca }}</td>
                <td>{{ intercambio.modelo }}</td>
                <td><img src="{{ intercambio.foto.url }}" class="trueque-foto"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay intercambios aceptados.</p>
{% endif %}
{% endblock %}
