{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/ver_objetos_postulados.css' %}">
</head>
<body>
    <a href="{% url 'Mis_Trueques' %}" style="position: absolute; top: 20px; left: 20px;">
        <button class="botonVolv">volver</button>
    </a>
    <h2>{{title}}</h2>
    <div class="contenedor">
            {% if objetos_postulados %}
                {% for obj in objetos_postulados %}
                        <div class="panel-objects-postuled">
                            <div class="panel-container" style="display: inline-flexbox;">
                                <div class="product-container">
                                    <div class="product-image">
                                        <img src="{{ obj.foto.url }}" class="trueque-foto" alt="Descripción de la imagen">
                                    </div>
                                    <div class="product-details">
                                        {{ obj.nombre }}
                                    </div>
                                    <div class="product-atributos-container">
                                        <span class="attribute-label">Categoria: {{ obj.categoria }}</span>
                                        <span class="attribute-label">Descripcion:</span>
                                        <span class="attribute-value">{{ obj.descripcion }}</span><br>
                                    </div>
                                    <div class="btn-container">
                                        <form action="{% url 'aceptar_trueque' obj.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-aceptar">Aceptar</button>
                                        </form>
                                        <form action="{% url 'rechazar_trueque' obj.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-rechazar">Rechazar</button> 
                                        </form>
                                    </div>
                                </div>
                                
                            </div>                            
                        </div>
                {% endfor %}
            {% else %}
                <h3>Actualmente no existen objetos postulados para intercambiar con el objeto</h3>
            {% endif %}
    </div>    
</body>
</html>