<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png">
    <link rel="stylesheet" href="{% static 'styles/mis_objetos_postulados.css' %}">
    <title>Mis objetos Postulados</title>
</head>

<div class="container">
    <a href="javascript:history.back()" class="back-button">Volver Atrás</a>
    <section class="postuled-section">
        <h1 class="section-title">Lista de Objetos Postulados</h1>
        {% if postuled %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Estado</td>
                        <td>Categoria</td>
                        <td>Descripcion</td>
                        <td>Fecha</td>
                        <td>Estado</td>
                        <td>Imagen</td>
                        <td>Postulado a</td>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in postuled %}
                    <tr>
                        <td>{{ obj.nombre }}</td>
                        <td>{{ obj.estado }}</td>
                        <td>{{ obj.categoria }}</td>
                        <td>{{ obj.descripcion }}</td>
                        <td>{{ obj.fecha }}</td>
                        <td>{{ obj.status }}</td>
                        <td><img class="trueque-foto" src="{{ obj.foto.url }}" alt="Imagen de ofrecido"></td>
                        <td><img class="trueque-foto" src="{{ obj.trueque_postulado.foto.url }}" alt="Imagen del postulado">
                        <p>Nombre de producto: {{ obj.trueque_postulado.nombre }}</p>
                        <p>Nombre de usuario: {{ obj.trueque_postulado.usuario.user.username }}</p>   
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>No existen objetos postulados en el tiempo</p>
        {% endif %}
    </section>
</div>


</body>
</html>