{% extends "layouts/base.html" %}

{% block content %}
    <style>
        .divcontenedor{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .divsuc{
            width: 500px;
            min-width: 350px;
            max-height: 500px; /* Altura máxima inicial */
            overflow-y: auto; /* Desplazamiento vertical */
            border: 3px solid #030303; /* Borde */
            background-color: #fff; /* Fondo blanco */
            border-radius: 5px; /* Bordes redondeados */
            padding: 10px; /* Espaciado interno */
        }
        .titulo{
            color:#1f4e57;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        .parrafo{
            color:#050404;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        .divider {
            border: 0;
            border-top: 1px solid #ccc;
            margin: 10px 0; /* Espaciado alrededor de la línea divisoria */
        }
        .error{
            color:#ad1e1e;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 32;
        }
    </style>
    <div class="divcontenedor">
        <h1>Sucursales disponibles en el país</h1>
        <div class="divsuc">
            {% if sucursales %}
                <p class="titulo"> Direccion </p>
                    {% for sucursal in sucursales %}
                        <hr class="divider">
                        <p class="parrafo">direccion {{ sucursal.address }} - ciudad: {{ sucursal.city }}</p>
                        <img >
                    {% endfor %}
            {% else %}
                <hr class="divider" style="align-content: center;">
                <p class="parrafo">No hay sucursales por el momento cargadas en el sistema</p>
            {% endif %}
        </div>
    </div>
{% endblock %}